<header>
  <nav>
    <div class="logo">
      <a href="/">
        <img src="/images/speedupamerica-brand.png" alt="SpeedUpAmerica" />
      </a>
    </div>
    <div class="navlist">
      <div class="navitem">
        <div class="navitem-wrap">
          <div class="navitem-icon">
            <a href='https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSpeed-Up-America-416927695803950%2F'>
              <img src="/images/twitter-logo-white.png" alt="Twitter" />
            </a>
          </div>
        </div>
      </div>

      <div class="navitem">
        <div class="navitem-wrap">
          <div class="navitem-icon">
            <a href='https://twitter.com/share?text=I%20just%20tested%20my%20internet%20speed%20with%20Speed%20Up%20America!%20Check%20it%20out%20here:&url=https://speedupamerica.com/&hashtags=speedupamerica'>
              <img src="/images/facebook-logo-white.png" alt="Facebook" />
            </a>
          </div>
        </div>
      </div>

      <div class="navitem">
        <div class="navitem-wrap">
          <div class="navitem-icon background-none">
            <a href='https://www.linkedin.com/sharing/share-offsite/?url=speedupamerica.com'>
              <img class="no-background" src="/images/linkedin-logo.png" alt="LinkedIn" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>