<header>
  <nav>
    <div class="logo">
      <img class="img" src="/images/speedupamerica-brand.png" alt="SpeedUpAmerica" />
    </div>
    <div class="navlist">
      <nav>
        <div class="navitem">
          <button class="link button-secondary secondary text-title">
            SHARE
          </button>
        </div>
        <div class="navitem">
          <div class="icon-wrap">
            <div class="icon-img-white">
              <img src="/images/twitter-logo-white.png" alt="Twitter" />
            </div>
          </div>
        </div>

        <div class="navitem">
          <div class="icon-wrap">
            <div class="icon-img-white">
              <img src="/images/facebook-logo-white.png" alt="Facebook" />
            </div>
          </div>
        </div>

        <div class="navitem">
          <div class="icon-wrap">
            <div class="icon-img">
              <img class="no-background" src="/images/linkedin-logo.png" alt="LinkedIn" />
            </div>
          </div>
        </div>
        
      </nav>
    </div>
  </nav>
</header>